body {
  background-color: #ffffff;
  font-family:'Times New Roman', Times, serif;
  color: black;
  font-size: medium;
  line-height: 170%;
  /* margin-left: 50px;
  margin-right: 400px; */
  text-align: center;
}

h1 {
  color:black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 70px;
}

h2 {
  color: #171A21
  font-family: 'Benne', serif;
  font-family: 'Lato', sans-serif;
  font-size:17px;
}

h3 {
color: black;
font-family: 'Ibarra Real Nova', serif;
font-family: 'Tajawal', sans-serif;
font-size: 17px;
font-weight: 100;
margin-left: 120px;
margin-right: 120px;
text-align: center;
}

a {
  color: #171A21;
  font-family: 'Benne', serif;
  font-family: 'Lato', sans-serif;
  font-size:17px;
}

.card {
  background-color: white;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 45px;
  box-shadow: 0 0 10px rgb(195, 195, 195);
}

.avatar {
  border-radius: 20px;
  height: 170px;
  width: auto;
  margin-top: 5px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
